@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --wui-color-inherit: #F9F1E2 !important;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
html, body {
  overflow: auto;
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  display: none;
 }
 
 ::-webkit-scrollbar-track {
  display: none;
 }
 
 ::-webkit-scrollbar-thumb {
  display: none;
 }

 .connect {
  --local-color: black !important; /* Change text or button color */
}
